/* Styles for Luann's portal page */
/* Styles for my main website in it261 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: cornsilk;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

header {
  overflow: hidden;
  background:rgba(52, 58, 64, 1);
}

.header-inner {
  max-width: 1100px;
  margin: 20px auto;
}

#logo {
  height:100px;
  width: auto;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-right: 15px;
}


nav {
  height: 50px;
  float: right;
  color: orange;
  padding-right: 20px;
}

nav ul {
  float: right;
}

nav li {
  float: left;
  list-style: none;
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: orange;
}

.center {
  text-align: center;
}

#wrapper {
  max-width: 1100px;
  margin: 20px auto;
}

#hero {
  background: red;
  margin-bottom: 20px;
  padding: 15px;
}

#about {
  padding: 15px;
}

#about img {
  height: 160px;
  float: left;
  padding-right: 15px;
}
 #hero p {
   padding-top: 15px;
   text-align: justify;
 }


/* values are based on a 940px grid*/
/* 500 devided by 940 */
main {
  width: 59.7%;
  background: purple;
  float: left;
  margin-bottom: 20px;
  padding: 15px;
}

#mamp img {
  width: 95%;
  padding: 15px;
}

aside {
  background: pink;
  margin: 20px;
  padding: 15px;
  width: 35.17%;
  height: 100%;
  float: right;
}

aside ul {
  padding-bottom: 10px;
}

aside li {
  padding-left: 15px;
  list-style: none;
}

aside h4 {
  padding-top: 5px;
  padding-bottom: 5px;
}

footer {
  overflow: hidden;
  background:rgba(52, 58, 64, .75);
  border-top: 1px dotted #333;
  clear: both;
}

.footer-inner {
  max-width: 1100px;
  margin: 20px auto;
  height: 50px;
  line-height: 50px;
}

footer ul {
  text-align: center;
}

footer li {
  float: left;
  list-style-type: none;
  margin-left: 20px;
}