/* styles for week 8 class exercise */

* {
  margin: 0;
  padding: 0;
  box-sizing: borderbox;
}

body {
  background: beige;
}

p {
  padding-top: 10px;
}

#wrapper {
  max-width: 1100px;
  margin: 20px auto;
}

main {
  float: left;
  width: 63%;
}

ul {
  padding: 5px;
}

aside {
  width: 34%;
  height: 300px;
  display: flex;
  float: right;
  justify-content: center;
  background: lightgreen;
}

.color-transparent {
  background: transparent;
}
 
img {
  margin: auto;
  display: block;
  border: 5px solid darkgreen;
}

footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-top: 1px dotted rgba(58, 23, 114, .50);
  clear: both;
}