/* styles for the currency1 assignment */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: beige;
}

form {
  width: 400px;
  margin: 30px auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

fieldset {
  padding: 8px;
  border: 1px solid red;
}

.box {
  width: 400px;
  margin: 10px auto;
  padding: 8px;
  border: 2px solid green;
}

input {
  margin-left: 10px;
  margin-bottom: 10px;
}

input [type=radio] {
  margin-right: 5px;
}

form ul {
  margin-left: 10px;
  margin-bottom: 10px;
  list-style: none;
}

.error {
  margin-bottom: 3px;
  display: block;
  color: darkred;
  text-align: center;
  font-size: 1.4em;
}

select {
  margin-bottom: 10px;
  display: block;

}